name: Compile
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    
    # 1. DEFINICIÓN DEL SERVICIO POSTGRES 
    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: crud_test

        options: >
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      # ---Checkout del Código ---
      - name: Checkout 
        uses: actions/checkout@v5
        
      # ---Configurar Python ---
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10.12' # Versión específica de Python
          
      # ---Instalar Dependencias (Pip Install) ---
      - name: Instalar dependencias con pip
        run: pip install -r requirements.txt
      
      # ---Esperar a que PostgreSQL esté listo ---
      - name: Esperar que Postgres esté listo
        run: while ! nc -z localhost 5432; do sleep 1; done
        
      # --- Activar el Modo TESTING ---
      - name: Activar Modo Testing para DB.py
        run: echo "TESTING=1" >> $GITHUB_ENV
        
      # --- Aplicar Migraciones (Alembic) ---
      - name: Aplicar Migraciones de DB
        run: alembic upgrade head

      # --- Ejecutar Pruebas ---
      - name: Ejecutar Pruebas de CRUD
        run: pytest
